/* Header */

.fas {
    font-size: 5rem;
}

button {
    width: 140px;
    padding: 1rem;
    margin: 1rem;
    background: transparent;
    border: none;
}

/* Answer box */

#answer-box {
    margin-top: 4rem;
    font-size: 3.5rem;
}

#answer {
    width: 100%;
}

button[type=submit]{
    border: 1px solid green;
    border-radius: 20px;
    width: auto;
}